@model CoderGirl_MVCMovies.Models.Director;

@{
    ViewData["Title"] = "Create";
}



<h1>Add a Director</h1>
<form>
    <input asp-for="FirstName" type="text" />
    <button type="submit" value="Add First Name" />

    <input asp-for="LastName" type="text" />
    <button type="submit" value="Add Last Name" />

    <input asp-for="BirthDate" type="text" />
    <button type="submit" value="Add Birth Date" />

    <input asp-for="Nationality" type="text" />
    <button type="submit" value="Add Nationality" />

    <a asp-controller="Director" asp-action="Index">Add Director</a>


</form>

