
@{
    ViewData["Title"] = "Create";
}



<h1>Add a Director</h1>
<form>
    <input name="firstName" type="text" />
    <button type="submit" value="Add First Name" />

    <input name="lastName" type="text" />
    <button type="submit" value="Add Last Name" />

    <input name="birthDate" type="text" />
    <button type="submit" value="Add Birth Date" />

    <input name="nationality" type="text" />
    <button type="submit" value="Add Nationality" />

    <a asp-controller="Director" asp-action="Index">Add Director</a>


</form>

