
@{
    ViewData["Title"] = "Rate Movie";
}

<h1>Rate a Movie</h1>
@foreach (var movie in ViewBag.Movies)
{
    @if (ViewBag.Movies.Count >= 1)
    {
<select>
    <form method='post'>
        <select name="movieName">
            <option>@movie.Value</option>

    </form>
</select>
    
     }

                
        
        <select name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <button type='submit'>Rate it</button>
        </form>


