@model CoderGirl_MVCMovies.Models.MovieRating
@{
    ViewData["Title"] = "Rate Movie";
}

<h1>Rate a Movie</h1>

    <form method='post'>
        <select name="movieName">

            @foreach (MovieRating movieName in ViewBag.MovieName)
            {
                @if (movieName != null)
                {
                    <p>No Movies Yet!</p>
                }
                else
                {
                    <option>@movieName</option>
                }

            }

        </select>
     
        <select name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <button type='submit'>Rate it</button>
        </form>


