
@{
    ViewData["Title"] = "Rate Movie";
}

<h1>Rate a Movie</h1>

<form method='post'>

    <select name="movieName" >
    @foreach (var movieName in ViewBag.MovieNames)
    {
        
        <option>@movieName.Value</option>

    }
    </select>


    <button type='submit'>Rate it</button>
</form>


