@model CoderGirl_MVCMovies.Models.MovieRating

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie Rating</h4>
@*<hr />*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input readonly asp-for="Id" class="form-control" hidden="hidden" />
                <label asp-for="MovieName" class="control-label">Movie Name</label>
                <input readonly asp-for="MovieName" class="form-control" />
                @*<label>@Model.MovieName</label>*@

                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input readonly asp-for="Id" class="form-control" hidden="hidden" />
                <label asp-for="Rating" class="control-label">Rating</label>
                <label>@Model.Rating</label>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Rating" class="control-label">Select New Rating</label>
                <select name="Rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" value="Update Rating" class="btn btn-primary">Update Rating</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

