
@{
    ViewData["Title"] = "Movie Ratings";
}

<h1>Movie Ratings</h1>
<p><a asp-controller="MovieRating" asp-action="Create" asp-route-id="add-movierating">Rate a Movie</a></p>
<table>
    <tr>
        <th>Movie</th><th>Rating</th>
    </tr>
    @foreach(var movieRating in ViewBag.MovieRatings)
    {
        <tr>
            <td>@movieRating.Key</td><td>@movieRating.Value</td>
        </tr>
    }
</table>
